{% extends "base.html" %}
{% block content %}
{% comment %} <h1>Welcome to Home Page,<FONT COLOR="brown">{{name}}</FONT></h1><br> {% endcomment %}

<div class="container">
    <form action="">
        <div class="mb-3">
            <label for="searchMovie" class="form-label"><br><br>
                Search for Movie:
            </label>
            <input type="text" lass="form-control" name="searchMovie"/>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <p>Searching for {{searchTerm}}</p>
    <!--Card-->
    <div class="row row-cols-1 row-cols-md-5 g-5">
        {% for movie in movies %}
        <div v-form="movie in movies" class "col">
            <div class="card">
                <img class="card-img-top" src="{{movie.image.url}}"/>
                <div class="card-body">
                    <h5 class ="card-title fw-bold">{{movie.title}}</h5>
                    <p class="card-text">{{movie.description}}</p>
                    {% if movie.url %}
                      <a href="{{ movie.url }}" class = "btn btn-primary">Movie Link </a>
                    {% endif %}
                    <h6 class ="card-title fw-bold">{{movie.genere}}</h6>
                    <h6 class ="card-title fw-bold">{{movie.year}}</h6>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div><br>
    {% endfor %}    
</div>
<br>
<br>
<br>
<h2>Join our mailing list:</h2>
<form action = "{% url "signup" %}">
    <div class = "mb-3">
        <label for="email" class="form-label">Enter yoy Email</label>
        <input type="email" class="form-control" name="email"/> 
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
{% endblock content %}

